## Custom entries
.local

# .gitignore
# Exclude sensitive config files
firebaseConfig.js
.DS_Store
node_modules
/build
.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
